<div class="form-group" ng-if="!main.enableEdit">
      <h2>TASK APP</h2>
      <form ng-submit="main.submit(main.name)">
      <div class="input-group">
      <input type="text" class="form-control" ng-model="main.name" required>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"  ng-click="">Add</button>
      </span>
    </div>
    </form>
    </div>
    <ul class="list-group" ng-hide="main.enableEdit">
    <ui-view></ui-view>
      <li class="list-group-item" ng-repeat="item in main.data" id="{{ item._id }}"> 
        <!-- <a><h4 ng-click="main.readVariable(item._id, item.name);">{{item.name}}</h4></a> -->
        <!-- <a><h4 ui-sref="home.list({ id: item._id })">{{item.name}}</h4></a> -->

        <a ui-sref="list({ id: item._id })"><h4>{{item.name}}</h4></a>
         <!-- data-ui-sref="find-project-detailed({ idx: project.url})" -->

         <!-- id: item. is important. i think these are correct -->
        <button type="button" class="btn btn-primary btn-xs" ng-click="main.editClick(item.name,item._id)">edit</button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="main.remove(item._id)">delete</button>

      </li>
    </ul>
      <div class="form-group" ng-if="main.enableEdit">
          <h1>Edit Data</h1>
          <input class="form-control" type="text" ng-model="main.name">
          <input class="btn btn-primary" type="button" value="update" ng-click="main.update(main.eid,main.name)">
        </div>
        
  </div>