<div class="form-group" ng-if="!main.enableEdit">
      <h2>What to do</h2>
      <form ng-submit="main.submit(main.name)">
      <div class="input-group">
      <input type="text" class="form-control" ng-model="main.name" placeholder="Search for..." required>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"  ng-click="">Add</button>
      </span>
    </div>
    </form>
    </div>
    <ul class="list-group" ng-hide="main.enableEdit">
      <a ui-sref="home" ui-sref-active="active">Hello</a>
    <a ui-sref="home.ist" ui-sref-active="active">About</a>
    <a ui-sref="home.third" ui-sref-active="active">third</a>
    <h1>mmmm</h1>
    <ui-view></ui-view>
      <li class="list-group-item" ng-repeat="item in main.data" id="{{ item._id }}"> <!-- id="{{ item.name, item._id }}" -->
        <a><h4 ng-click="main.readVariable(item._id, item.name);">{{item.name}}</h4></a> <!-- onclick="readVariable(this);" -->
        <!-- <a><h4>{{item.name}}</h4></a> -->
        <button type="button" class="btn btn-primary btn-xs" ng-click="main.editClick(item.name,item._id)">edit</button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="main.remove(item._id)">delete</button>

      </li>
    </ul>
      <div class="form-group" ng-if="main.enableEdit">
          <h1>Edit Data</h1>
          <input class="form-control" type="text" ng-model="main.name">
          <input class="btn btn-primary" type="button" value="update" ng-click="main.update(main.eid,main.name)">
        </div>
        
  </div>